@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-neutral-100: hsla(0, 0%, 100%, 1);
  --clr-primary-800: hsla(229, 47%, 17%, 1);
  --clr-primary-700: hsla(229, 43%, 20%, 1);
  --clr-primary-400: hsla(230, 50%, 58%, 0.3);
  --clr-primary-300: hsla(229, 36%, 39%, 1);
  --clr-primary-200: hsla(229, 21%, 53%, 1);
  --clr-accent-400: hsla(147, 93%, 43%, 1);
  --clr-secondary-400: hsla(229, 78%, 60%, 1);

  --ff-base: "Outfit", sans-serif;

  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;

  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.375rem;
  --fs-600: 1.75rem;
  --fs-700: clamp(2rem, 10vw - 0.5rem, 3.25rem);
}

.scroll_width{
  overflow-x:scroll;
}

@media (min-width: 1024px) { 
  .scroll_width{
    overflow-y: scroll;
    overflow-x: unset;
    scrollbar-width: thin;
  }

  .scroll_width::-webkit-scrollbar {
    overflow-y: scroll;
    overflow-x: unset;
    width: 5px;
    background-color: #009688;
  }
}


.bio-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image1.png');
  background-size: cover;
  background-position: center;
}


.hero-background-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image1.png');
  background-size: cover;
  background-position: center;
}

.hero-background-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image2.png');
  background-size: cover;
  background-position: center;
}

.hero-background-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image3.png');
  background-size: cover;
  background-position: center;
}

.hero-background-four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image4.png');
  background-size: cover;
  background-position: center;
}

.outline_btn {
  @apply rounded-full border border-black bg-white py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.black_btn {
  @apply rounded-full border border-black bg-white py-1.5 px-5 text-black transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg sm:text-xl max-w-2xl;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter w-full h-fit;
}

.exhibitions{
  display: grid;
  justify-content: start;
  gap: 1rem;
  grid-auto-flow: column;
  overflow-x: auto;
  position: relative;
  padding-block: 2rem;
}

.exhibition{
  width: 28.5rem;
  border-radius: 0.5rem;
  padding: 2rem;
  background: var(--clr-primary-800);
}

.exhibition * {
  margin: 0;
}


.date{
  color: var(--clr-accent-400);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  letter-spacing: 0.2em;
}

.exhibition-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.title {
  font-size: var(--fs-600);
  line-height: 1.2;
}

.type {
  color: var(--clr-primary-200);
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}