@tailwind base;
@tailwind components;
@tailwind utilities;


.scroll_width{
  overflow-x:scroll;
}

@media (min-width: 1024px) { 
  .scroll_width{
    overflow-y: scroll;
    overflow-x: unset;
    scrollbar-width: thin;
  }

  .scroll_width::-webkit-scrollbar {
    overflow-y: scroll;
    overflow-x: unset;
    width: 5px;
    background-color: #009688;
  }
}

.bio-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image1.png');
  background-size: cover;
  background-position: center;
}


.hero-background-one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image1.png');
  background-size: cover;
  background-position: center;
}

.hero-background-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image2.png');
  background-size: cover;
  background-position: center;
}

.hero-background-three {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image3.png');
  background-size: cover;
  background-position: center;
}

.hero-background-four {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../public/image4.png');
  background-size: cover;
  background-position: center;
}

.outline_btn {
  @apply rounded-full border border-black bg-transparent py-1.5 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}